POSTGRES_DB=trdatabase
POSTGRES_USER=user
POSTGRES_PASSWORD=password
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMThiYWZhZDU5OTkxZTFkOGM3ODYzZjhmYWJiMmIxZSIsIm5iZiI6MTc4MzE3MzMxMC4xNTY5OTk4LCJzdWIiOiI2YTQ5MTBiZWI0MWE5MzhlZWRjNmY5MzgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.QV-SBy2Zc2lbNK2x6wgoCJw18lb3KvNRoNN7x2C61a4 