POSTGRES_DB= trdatabase
POSTGRES_USER=user
POSTGRES_PASSWORD=password
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMThiYWZhZDU5OTkxZTFkOGM3ODYzZjhmYWJiMmIxZSIsIm5iZiI6MTc4MzE3MzMxMC4xNTY5OTk4LCJzdWIiOiI2YTQ5MTBiZWI0MWE5MzhlZWRjNmY5MzgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.QV-SBy2Zc2lbNK2x6wgoCJw18lb3KvNRoNN7x2C61a4
DATABASE_URL=postgresql://user:password@database:5432/trdatabase
JWT_SECRET = dans_la_jungle_tropicale_habite_un_etrange_animal_ouba_ouba_c_lui_le_marsupilami
GITHUB_CLIENT_ID=Ov23liqlzr1JRzzFm0QI
GITHUB_CLIENT_SECRET=f8312482999f84df4fb94f3bafca1c1a29586ba9
GOOGLE_CLIENT_ID=250739263807-oufilo0s2tl8nvisim0fsksemvrr385j.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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