:root {
	/* palette du thème rétro temporaire */
	--color-bg: #0a0a0a;
	--color-surface: #151515;
	--color-surface-alt: #1c1c1c;
	--color-accent: #ff2e9a;
	--color-accent-soft: #ff9fd1;
	--color-accent-softer : #e7d1dc;
	--color-text: #f5f5f5;
	--color-text-muted: #b8b8b8;
	--font-title: "Comic Sans MS", cursive;

	--bg: var(--color-bg);
	--text: var(--color-text-muted);
	--text-h: var(--color-text);
	--border: var(--color-accent);
	--code-bg: var(--color-surface-alt);
	--accent: var(--color-accent);
	--accent-bg: rgba(255, 46, 154, 0.15);
	--accent-border: rgba(255, 46, 154, 0.5);
	--social-bg: rgba(21, 21, 21, 0.5);
}