.daily-pick {
	display: flex;
	gap: 12px;
	cursor: pointer;
}

.daily-pick-poster {
	width: 100px;
	border-radius: 5px;
    border: 1px solid var(--color-accent-soft);
}

.daily-pick-info {
	display: flex;
	flex-direction: column;
}

.daily-pick-title {
	font-weight: 700;
	margin: 0 0 6px;
}

.daily-pick-title:hover {
    color: var(--color-accent-soft);
	text-shadow: 0 0 5px var(--color-accent);
}

.daily-pick-overview {
	font-size: 15px;
	color: var(--color-text-muted);
	line-height: 1.4;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.daily-pick-overview:hover {
    color: var(--color-accent-softer);
}

.daily-pick-status {
	color: var(--color-text-muted);
	font-style: italic;
}
